In [1]:
# creo variabili ulteriori 
# BRAND 
# LINEA
# TIPO PRODOTTO

# PULIZIA PREZZO  E QUANTITA (trasformarle in variabili quantitative)
#perchè MONGO:
#le variabili prezzo e quantita non sono sempre presenti e potrebbero essere espresse mediante misure diverse (ml, gr, €, $)

path_ref = r"C:\Users\sophi\OneDrive\Desktop\MASTER\5. Progetti\4. saicosatispalmi"

In [2]:
### E X T R A C T

#QUERY MONGODB
import pandas as pd
import time
import pymongo
import re
import math
import unidecode

client = pymongo.MongoClient("mongodb://user:Universale91@cluster0-shard-00-00.6qxgp.mongodb.net:27017,cluster0-shard-00-01.6qxgp.mongodb.net:27017,cluster0-shard-00-02.6qxgp.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-nfem5l-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client["saicosatispalmi"]
#select the collection within the database
dataset = db.dati_orig
#convert entire collection to Pandas dataframe
dataset = pd.DataFrame(list(dataset.find()))

dataset.head()
dataset.describe()
dataset.info()

#distribuzioni di frequenze
nome_valori = dataset['prodotto'].value_counts()
prezzo_valori = dataset['prezzo'].value_counts()
quantita_valori = dataset['quantità'].value_counts()

#nome prodotti unici
check_unicita_prodotto=[n for n in nome_valori if n > 1]
nome_valori.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12061 entries, 0 to 12060
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           12061 non-null  object
 1   INCI          12060 non-null  object
 2   id_prodotto   12061 non-null  object
 3   prodotto      12060 non-null  object
 4   url_prodotto  12060 non-null  object
 5   quantità      8925 non-null   object
 6   prezzo        7808 non-null   object
dtypes: object(7)
memory usage: 659.7+ KB

Aldo Coppola - Oli Essenziali - Shampoo antiforfora                           2
A-Derma - Avoine Rhealba - Exomega - Crema                                    1
Annemarie Börlind - Anti-Aging System Absolute - Night cream (crema notte)    1
Annemarie Börlind - Combination Skin - Crema notte                            1
Annemarie Börlind - Combination Skin - Essenza giorno                         1
Name: prodotto, dtype: int64

In [4]:
prezzo_valori.tail()

circa 9,20 €                      1
12,50 € - 9,90 € in promozione    1
8,99 € - 5,90 € in offerta        1
7,49 £                            1
12,12 €                           1
Name: prezzo, dtype: int64

In [14]:
quantita_valori.tail()

flacone composto dal 100% di plastica riciclata e riciclabile al 100% da 150 ml    1
crema rivelatrice 60 gr - crema colorata 60 gr - balsamo luce& seta 54 ml          1
2 patches                                                                          1
32 gr                                                                              1
10 ml in omaggio con i profilattici della stessa marca.                            1
Name: quantità, dtype: int64

In [15]:
prezzo_valori.tail()

circa 9,20 €                      1
12,50 € - 9,90 € in promozione    1
8,99 € - 5,90 € in offerta        1
7,49 £                            1
12,12 €                           1
Name: prezzo, dtype: int64

In [22]:
### T R A N S F O R M

#elimino righe con tutti na (tranne id_prodotto, _id)
dataset_nona = dataset.dropna(subset=['prodotto','quantità',"prezzo", "url_prodotto"], how='all')
print(f' dataset :{len(dataset)}, dataset_nona : {len(dataset_nona)}')

#regular expressions
pattern_quantita = r'\d*\.?\,?\d+[\s{0,4}]+[a-zA-Z]{0,100}'
pattern_prezzo = r'[0-9]+[\,{0,1}]+[0-9]{0,2}|[0-9]+[\.{0,1}]+[0-9]{0,2}' 
pattern_valuta = r'[\€]|[\$]|[\£]|cent|euro'

 dataset :12061, dataset_nona : 12060

In [18]:
#CONTROLLO LETTERE ALFABETO : ci sono dei prodotti che compaiono scritti così : [FARMACO] xxxxx

lettera = []

for ind, row in dataset_nona['prodotto'].items():
    if row[0] =="[":
        iniziale = row.split("]")[1].strip()[0]
        if ind < 1000: #ne stampo solo alcuni
            print(f'row: {row}, iniziale: {iniziale}')
    else:
        iniziale = row[0]
    lettera.append(iniziale)

dataset_nona["lettera"] = lettera

id_prodotto =[]
dataset_nona.sort_index()
id_prodotto =(dataset_nona["lettera"]) + (dataset_nona.groupby(["lettera"]).cumcount()+1).astype(str)

print(f'ID PRODOTTO RISCRITTO\n{id_prodotto[0:5]}')

row: [FARMACO] Abiogen - Kouriles - Emulsione fluida, iniziale: A
row: [FARMACO] Bayer - Bepanthenol - Extra protezione, iniziale: B
row: [FARMACO] Bayer - Bepanthenol - Pasta lenitiva protettiva, iniziale: B
row: [FARMACO] Bayer - Bepanthenol - SensiDaily, iniziale: B
row: [FARMACO] Bayer - Bepanthenol - Sensiderm crema, iniziale: B
ID PRODOTTO RISCRITTO
0    A1
1    A2
2    A3
3    A4
4    A5
dtype: object

C:\Users\sophi\AppData\Local\Temp/ipykernel_14868/386575635.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_nona["lettera"] = lettera

In [23]:
# TOKENIZZO PRODOTTO PER CREARE LINEA, CATEGORIA, BRAND

prodotto =[]   # nome esteso
brand = []     # prima posizione
linea = []     # seconda posizione
categoria = [] # terza posizione

for index, row in dataset_nona["prodotto"].items():

    if re.findall("–", row):
        token_word = re.split(r"[–]",row)
    else:
        token_word = row.split(" - ")
        
    token = len(token_word)
    
    prodotto.append(row)
    brand.append(token_word[0])
    if token == 2 :
        linea.append(" ")
        categoria.append(token_word[1])
    elif token == 3 :
        linea.append(token_word[1])
        categoria.append(token_word[2])
    elif token == 4 :
        linea_lista = token_word[1:3]
        linea.append('-'.join(linea_lista))
        categoria.append(token_word[3]) 
        
    elif token == 5 :
        linea_lista = token_word[1:4]
        linea.append('-'.join(linea_lista))
        categoria.append(token_word[4])  
    else:
        linea.append(token_word[2])
        categoria.append(token_word[1])      

print(f'ESEMPIO TOKEN prodotto: {prodotto[0]} \n brand: {brand[0]} \n linea: {linea[0]} \n categoria: {categoria[0]}' )
print(f'ESEMPIO TOKEN prodotto: {prodotto[10]} \n brand: {brand[10]} \n linea: {linea[10]} \n categoria: {categoria[10]}' )

ESEMPIO TOKEN prodotto: A-Derma - Avoine Rhealba - Exomega - Crema
 brand: A-Derma
 linea: Avoine Rhealba-Exomega
 categoria: Crema
ESEMPIO TOKEN prodotto: AB Atmosfera&Benessere - Gel detergente viso rinfrescante
 brand: AB Atmosfera&Benessere
 linea:
 categoria: Gel detergente viso rinfrescante

In [24]:
type(dataset_nona)

pandas.core.frame.DataFrame

In [27]:
# PULISCO IL PREZZO

prezzo_old=[]
prezzo_new=[]

for index, row in dataset_nona["prezzo"].items():
    prezzo_old.append(row)
    try:
        estraggo_prezzo = re.findall(pattern_prezzo, str(row), re.IGNORECASE)[0].replace(",",".")
    except IndexError:
        try:
            estraggo_prezzo= re.findall(r'[0-9]+', str(row), re.IGNORECASE)[0].replace(",",".")
            if isinstance(row, str) and index < 800 : #ne estraggo solo alcuni
                print(f'riga {index} : {row}\n PREZZO ESTRATTO:{estraggo_prezzo}')
        except:
            estraggo_prezzo="0"
        
    prezzo_new.append(estraggo_prezzo)
print(f'ESEMPIO PULIZIA PREZZO:\n-OLD: {prezzo_old[100]}, \n-NEW: {prezzo_new[100]}')

riga 259 : non è proprio basso ma ne basta una goccina; la minitaglia mi è durata mesi (era 25ml).
 PREZZO ESTRATTO:25
riga 521 : (ma sarà 3-4 euro se non meno) e spero di non aver sbagliato il nome. è fisso nella doccia di un amico, sa di thè, molto buono il profumo!
 PREZZO ESTRATTO:3
riga 739 : che si aggira sui 12 € però
 PREZZO ESTRATTO:12
ESEMPIO PULIZIA PREZZO:
-OLD: della crema non è altissimo (4,90€), di oli ce ne devono essere davvero in quantità esigua, credo, visto che stanno tutti a partire dalla quinta posizione in giù nell'inci.,
-NEW: 4.90

In [45]:
#PULISCO LA VALUTA
valuta=[]

for index, row in dataset_nona["prezzo"].items():
    try:
        estraggo_valuta = re.findall(pattern_valuta, str(row), re.IGNORECASE)[0]
        if re.findall(r"[\$]|[\£]|euro|cent", str(row)) and index <300: #ne stampo solo alcuni
            print(f'riga {index}: {row}')
        else:
            pass
    except IndexError:
        estraggo_valuta=" "
    valuta.append(estraggo_valuta)
    
#print(f'ESEMPIO VALUTA: {row}{valuta[1201]}')

riga 6: 19,90 £
riga 12: 20,00 £
riga 111: 0,99 cent
riga 182: 10 $ - 40 $ - 78 $
riga 225: 8.99 $ / 6,59 €
riga 227: $ 3.99 / 2,80 €

In [36]:
#PULISCO LA QUANTITA
quantita_old=[]
quantita_new=[]

for index, row in dataset_nona["quantità"].items():
    quantita_old.append(row)
    try:
        estraggo_quantita = re.findall(pattern_quantita, str(row), re.IGNORECASE)[0]
    except IndexError:
        try:
            estraggo_quantita= re.findall(r'[0-9]+[\,{0,1}]+[\.{0,1}]+[0-9]{0,2}+[\s{0,4}]+[a-zA-Z]{0,100}',str(row),re.IGNORECASE)[0]
        except:
            estraggo_quantita = "0"

    quantita_new.append(estraggo_quantita.strip())

print(f'ESEMPIO PULIZIA QUANTITA:\n -OLD: {quantita_old[1001]} \n -NEW: {quantita_new[1001]}')
print(f'ESEMPIO PULIZIA QUANTITA:\n -OLD: {quantita_old[100]} \n -NEW: {quantita_new[100]}')

ESEMPIO PULIZIA QUANTITA:
 -OLD: nan
 -NEW: 0
ESEMPIO PULIZIA QUANTITA:
 -OLD: esigua, credo, visto che stanno tutti a partire dalla quinta posizione in giù nell'inci.
 -NEW: 0

In [37]:
# CREO DATASET PULITO
dataset_cleaned=pd.DataFrame()

dataset_cleaned["id_prodotto"]= id_prodotto 
dataset_cleaned["prodotto"] = prodotto
dataset_cleaned["brand"] = brand
dataset_cleaned["linea"] = linea
dataset_cleaned["categoria"] = categoria
dataset_cleaned["INCI"] = dataset_nona["INCI"]
dataset_cleaned["quantita_old"] = quantita_old
dataset_cleaned["quantita_new"] = quantita_new
dataset_cleaned["prezzo_old"] = prezzo_old
dataset_cleaned["prezzo_new"] = prezzo_new
dataset_cleaned["valuta_old"] = valuta

dataset_cleaned["id_prodotto"].value_counts()

print(f'ANTEPRIMA DATASET PULITO: {dataset_cleaned.head(3)}')

ANTEPRIMA DATASET PULITO:   id_prodotto                                           prodotto    brand  \
0          A1         A-Derma - Avoine Rhealba - Exomega - Crema  A-Derma
1          A2            A-Derma - Cytelium - Lozione assorbente  A-Derma
2          A3  A-Derma - Ephiteliale Ah Duo - Crema ultra ris...  A-Derma

                    linea                   categoria  \
0  Avoine Rhealba-Exomega                       Crema
1                Cytelium          Lozione assorbente
2      Ephiteliale Ah Duo  Crema ultra ristrutturante

                                                INCI    quantita_old  \
0  [AQUA, CAPRYLIC/CAPRIC TRIGLYCERIDE, GLYCERIN,...             NaN
1  [AQUA, ZINC OXIDE, PROPYLENE GLYCOL, SORBITOL,...          100 ml
2  [AQUA, CAPRYLIC/CAPRIC TRIGLYCERIDE, GLYCERIN,...  40 ml - 100 ml

  quantita_new prezzo_old prezzo_new valuta_old
0            0        NaN          0
1       100 ml        NaN          0
2        40 ml        NaN          0

In [38]:
# ULTERIORE PULIZIA 

#verifico se quelli con valuta "cent" sono espressi bene (non possono essere maggiori di 1)
filtro_cent = (dataset_cleaned["valuta_old"]=="cent") & (pd.to_numeric(dataset_cleaned["prezzo_new"]) > 1)
dataset_cleaned.loc[filtro_cent, "prezzo_new"] = pd.to_numeric(dataset_cleaned.loc[filtro_cent, "prezzo_new"])/100
#sostituisco cent e euro con €
dataset_cleaned["valuta_new"]= dataset_cleaned["valuta_old"].replace("cent", "€").replace("euro", "€")

#dove è presente il prezzo e la valuta è assente scrivo €
filtro_record = (dataset_cleaned["prezzo_new"]!='0' ) & (dataset_cleaned["valuta_old"]==' ' )
dataset_cleaned[filtro_record].prezzo_new.value_counts() #sono tutti 0
dataset_cleaned.loc[filtro_record, "valuta_new"] = "€"

# converto i dollari in euro
cambio_dollari_euro = 0.84
filtro_dollari = (dataset_cleaned["valuta_old"]=='$')
dataset_cleaned.loc[filtro_dollari, "prezzo_new"] =  pd.to_numeric(dataset_cleaned.loc[filtro_dollari, "prezzo_new"]) * cambio_dollari_euro
dataset_cleaned.loc[filtro_dollari, "valuta_new"] = "€"

#converto le sterline in euro
cambio_sterline_euro = 1.17
filtro_sterline = (dataset_cleaned["valuta_old"]=='£')
dataset_cleaned.loc[filtro_sterline, "prezzo_new"] =  pd.to_numeric(dataset_cleaned.loc[filtro_sterline, "prezzo_new"]) * cambio_sterline_euro
dataset_cleaned.loc[filtro_sterline, "valuta_new"] = "€"

dataset_cleaned["valuta_old"].value_counts()



# TABELLA PRODOTTO - INCI: esplodo sulle righe la lista INCI di ciascun prodotto

dataset_prodotto_inci = dataset_cleaned.explode('INCI')[["id_prodotto", "prodotto", "INCI"]] # tengo solo queste 3 colonne

print(f'ANTEPRIMA DATASET ESPLOSO: {dataset_prodotto_inci.head(3)}')

ANTEPRIMA DATASET ESPLOSO:   id_prodotto                                    prodotto  \
0          A1  A-Derma - Avoine Rhealba - Exomega - Crema
0          A1  A-Derma - Avoine Rhealba - Exomega - Crema
0          A1  A-Derma - Avoine Rhealba - Exomega - Crema

                           INCI
0                          AQUA
0  CAPRYLIC/CAPRIC TRIGLYCERIDE
0                      GLYCERIN

In [96]:
# LETTURA DIZIONARIO E PULIZIA

dizionario_inci_000 = pd.read_csv(f'{path_ref}\componenti_semaforo.csv', sep=";", header=None, names = ["ingredienti", "semaforo"], encoding = "ISO-8859-1")
#elimino duplicati, ce ne sono in quanto lo scraping è girato a pezzi
dizionario_inci_00 = dizionario_inci_000.drop_duplicates()
# i componenti più lunghi di 200 caratteri non sono componenti
dizionario_inci_0  = dizionario_inci_00[~(dizionario_inci_00["ingredienti"].str.len() > 200)==True]
# elimino le righe dove il semaforo appare na => questi verrano trattati sotto
dizionario_inci    = dizionario_inci_0[~(dizionario_inci_0['semaforo'].isna())]

len(dizionario_inci_000)
len(dizionario_inci_00)
len(dizionario_inci_0)
len(dizionario_inci)


# laddove la colonna semaforo è missing è perchè sono stati scritti male nel csv
errori= dizionario_inci_0[(dizionario_inci_0['semaforo'].isna())]["ingredienti"] #prendo solo la prima colonna perchè sono scritti male
len(errori)

new = pd.DataFrame()
new_ingredienti=[]
new_semaforo   =[]

#rifaccio il parsing
for i,row in enumerate(errori):
    #print(i,row)
    token = row.split(",")
    n_token=len(token)
    
    max_virgole=len(re.findall(",", row))
    
    ingredienti = errori.iloc[i].split(",")[0]
    
    semaforo_0 = errori.iloc[i].split(",")[max_virgole]
    da_togliere= "".join(re.findall(r'[^(rgv)]+',semaforo_0))
    semaforo   = semaforo_0.replace(da_togliere,"")
    
    try:
        if max_virgole == 0:
            new_ingredienti.append("") 
        else:
            new_ingredienti.append(ingredienti) #lista
    except IndexError:
        break
    try:
        if max_virgole == 0:
            new_semaforo.append("")
        else:
            new_semaforo.append(semaforo) #lista
            
        if n_token == 1 and i <500 :
            print(f'riga: {row}\nvirgole: {max_virgole} \nsemaforo: {semaforo} \nindice: {i}')
        else:
            pass
        
    except IndexError:
        new_semaforo.append("")

new["ingredienti"] = new_ingredienti
new["semaforo"] = new_semaforo

dizionario_inci.append(new)
dizionario_inci_finale = dizionario_inci.drop_duplicates()

#print(f'errori: {len(errori)}')
#print(f'dimensione diz: {len(dizionario_inci)}')
#print(f'dimensione diz finale: {len(dizionario_inci_finale)}')

set(dizionario_inci["semaforo"])

riga: alcuni siliconi non erano nemmeno presenti sul biodiz ionario....
virgole: 0
semaforo: alcuni siliconi non erano nemmeno presenti sul biodiz ionario....
indice: 0

{'g', 'n', 'no', 'r', 'rr', 'v', 'vv'}

In [107]:
semaforo_ok=[]
dizionario_inci_finale = pd.DataFrame()

for i,row in enumerate(dizionario_inci["semaforo"]):
        da_togliere= "".join(re.findall(r'[^(rgv)]+',row))
        semaforo  = row.replace(da_togliere,"")
        semaforo_ok.append(semaforo)

set(semaforo_ok)
dizionario_inci_finale["ingredienti"]=dizionario_inci["ingredienti"]
dizionario_inci_finale["semaforo"] = semaforo_ok

dizionario_inci_finale["semaforo"].value_counts()

vv    5632
v     3388
g     2525
r     2330
rr     891
       759
Name: semaforo, dtype: int64

In [108]:
### L O A D 

# 1. STORAGE DIZIONARIO INGREDIENTI
# pip install mysql-connector-python

from pandas.io import sql
import pymysql
from pymysql import ProgrammingError

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='universale91',
                             db='saicosatispalmi'
                             ,charset='utf8',use_unicode=True)

cursor = connection.cursor() 

cursor.execute('''DROP TABLE IF EXISTS saicosatispalmi.dizionario_ingredienti''')

cursor.execute('''CREATE TABLE IF NOT EXISTS saicosatispalmi.dizionario_ingredienti 
                                            (ingredienti VARCHAR(1000) , semaforo VARCHAR(2))
                ''')

cols = ",".join([str(i) for i in dizionario_inci_finale.columns.tolist()])
print(cols)
# Insert DataFrame recrds one by one.
for i,row in dizionario_inci_finale.iterrows():
    try:
        sql = "INSERT INTO dizionario_ingredienti (" +cols + ") VALUES (%s,%s) " 
        cursor.execute(sql, tuple(row))
        connection.commit()
    except:
        print(i, tuple(row))
        break

ingredienti,semaforo

In [109]:

# 2. STORAGE TABELLA PRODOTTO - INCI

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='universale91',
                             db='saicosatispalmi'
                             ,charset='utf8',use_unicode=True)

cursor = connection.cursor() 

cursor.execute('''DROP TABLE IF EXISTS saicosatispalmi.prodotti_inci''')

cursor.execute('''CREATE TABLE IF NOT EXISTS saicosatispalmi.prodotti_inci
                                            (id_prodotto VARCHAR(10)
                                            ,prodotto VARCHAR(1000)
                                            ,INCI VARCHAR(1000)
                                            );''')

cols_prodotti=""
cols_prodotti = ",".join([str(i) for i in dataset_prodotto_inci.columns.tolist()])
len(cols_prodotti)

dataset_prodotto_inci_1 = dataset_prodotto_inci.where(pd.notnull(dataset_prodotto_inci), None)

for i,row in dataset_prodotto_inci_1.iterrows():
    try:
        sql = "INSERT INTO prodotti_inci (" +cols_prodotti + ") VALUES (%s,%s,%s) " 
        cursor.execute(sql, tuple(row))
        connection.commit()
    except:
        print(i, tuple(row))
        break

In [126]:

# 3. STORAGE TABELLA PRODOTTI

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='universale91',
                             db='saicosatispalmi'
                             ,charset='utf8',use_unicode=True)

cursor = connection.cursor() 

cursor.execute('''DROP TABLE IF EXISTS saicosatispalmi.prodotti''')

cursor.execute('''CREATE TABLE IF NOT EXISTS saicosatispalmi.prodotti 
                                            ( id_prodotto VARCHAR(10) 
                                            , prodotto VARCHAR(1000)
                                            , brand VARCHAR(500)
                                            , linea VARCHAR(500)
                                            , categoria VARCHAR(500)
                                            , quantita_old VARCHAR(1000)
                                            , quantita_new VARCHAR(500)
                                            , prezzo_old VARCHAR(1000)
                                            , prezzo_new DECIMAL(8,2)
                                            , valuta_old VARCHAR(10)
                                            , valuta_new VARCHAR(10)); ''')
#seleziono tutte le colonne tranne INCI
dataset_prodotti = dataset_cleaned.loc[:, dataset_cleaned.columns != 'INCI'].where(pd.notnull(dataset_cleaned), None)
dataset_prodotti['prezzo_new'] = dataset_prodotti['prezzo_new'].astype(float)

cols_prodotti=""
cols_prodotti = ",".join([str(i) for i in dataset_prodotti.columns.tolist()])
len(cols_prodotti)
print(cols_prodotti)

#dataset_cleaned_1 = dataset_prodotti.where(pd.notnull(dataset_prodotti), None)

for i,row in dataset_prodotti.iterrows():
    try:
        sql = "INSERT INTO prodotti (" +cols_prodotti + ") VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) " 
        cursor.execute(sql, tuple(row))
        connection.commit()
    except: 
        print(i, tuple(row))
        break

id_prodotto,prodotto,brand,linea,categoria,quantita_old,quantita_new,prezzo_old,prezzo_new,valuta_old,valuta_new